

.container{
    background-color: rgb(39, 95, 144);
    height: 500px;
}

.head-container{
    text-align: center;
    background-color: aqua;
}

.h2{
        font-family: "Playwrite AU SA", cursive;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
 
}
.form{
    text-align: center;
    background-color: antiquewhite;
}

.box-container{
margin: 30px;

}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   margin-top: 20px;
    
}
.col{
height: 100px;
width: 100px;
    margin: 10px 10px 10px 10px;
    background-color: beige;

}