/*
Matthew Whitlow - Homework assingment #2
*/

.heading{
    background-color: aqua;
    
}

.home{
  margin-left: 10px;
  margin-right: 10px;
 
}

.container{
    background-color: white;
    height: auto;
    padding-bottom: 8%;
}

.head-container{
    
    background-color: aqua;

}

.h2, .form{
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: 100%;
  font-weight: <weight>;
  font-style: normal;
  text-align: center;
  

}


.form{
    text-align: center;
    background-color: antiquewhite;
    padding-top: 15px;
    padding-bottom: 10px;
}
  
.square-container{
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-around;
  background-color: black;
  padding-bottom: 5%;
 
}

  
.iframe{
  height:25%;
  width: 25%;
  margin-top: 3%;
  background-color: black;
 
 
  
}
.square{
  background-color: blue;
}