

.head-container{
    text-align: center;
    background-color: aqua;
}

.h2{
        font-family: "Playwrite AU SA", cursive;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
 
}